@using System.Threading.Tasks
@using LuckyCode.ViewModels
@model LuckyCode.ViewModels.SysUsersCreateViewModel
@{
    ViewBag.Title = "添加用户";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            添加用户
        </h1>
        <ol class="breadcrumb">
            <li><a href="/SysManager/Home"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">添加用户</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <form class="form-horizontal" method="post" action="/SysManager/SysUsers/Create">
                        <div class="box-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                           @Html.Partial("_CreateOrEdit")
                        </div>
                        <div class="box-footer">
                            <div class="col-md-offset-3">
                                <button type="submit" class="btn btn-flat btn-success btn-padding">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>