<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/font-awesome.css">
@*    <link rel="stylesheet" href="~/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/css/skins/skin-blue.min.css">*@
    <link rel="stylesheet" href="~/lib/pace/pace.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/app.min.js"></script>
    <script src="~/js/demo.js"></script>
    <script src="~/lib/pace/pace.min.js"></script>
    <script src="~/lib/layer/layer.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
