
@{
    ViewBag.Title = "基础权限管理";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            首页
            
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">CPU Traffic</span>
                        <span class="info-box-number">90<small>%</small></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Likes</span>
                        <span class="info-box-number">41,410</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Sales</span>
                        <span class="info-box-number">760</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">New Members</span>
                        <span class="info-box-number">2,000</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <div class="row ">
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">订单列表</h3>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th>订单号</th>
                                    <th>商品名称</th>
                                    <th>订单状态</th>
                                    <th>下单时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>FT001</td>
                                    <td>苹果手机6Plus</td>
                                    <td>发货</td>
                                    <td>2016-12-6</td>
                                </tr>
                                <tr>
                                    <td>FT001</td>
                                    <td>苹果手机6Plus</td>
                                    <td>发货</td>
                                    <td>2016-12-6</td>
                                </tr>
                                <tr>
                                    <td>FT001</td>
                                    <td>苹果手机6Plus</td>
                                    <td>发货</td>
                                    <td>2016-12-6</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">最新资讯</h3>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th>订单号</th>
                                    <th>商品名称</th>
                                    <th>订单状态</th>
                                    <th>下单时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>FT001</td>
                                    <td>苹果手机6Plus</td>
                                    <td>发货</td>
                                    <td>2016-12-6</td>
                                </tr>
                                <tr>
                                    <td>FT001</td>
                                    <td>苹果手机6Plus</td>
                                    <td>发货</td>
                                    <td>2016-12-6</td>
                                </tr>
                                <tr>
                                    <td>FT001</td>
                                    <td>苹果手机6Plus</td>
                                    <td>发货</td>
                                    <td>2016-12-6</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="test_01">
            
        </div>
        <!-- Your Page Content Here -->
        <div class="row">
            <div class="col-md-12">
                <textarea name="ArticleText"></textarea>
            </div>
        </div>
        <div id="LiveChat">
            <input id="message" class="form-control"/>
            <button id="send_message" class="btn btn-default">发送</button>
            <ul>
                <li><img id="image_test" class="display-none"/></li>
            </ul>
        </div>
        
    </section>
    <!-- /.content -->
</div>
@section scripts{
    <script src="~/lib/kindeditor/kindeditor-all-min.js"></script>

    <script src="~/lib/ReconnectingWebSocket.js" asp-append-version="true"></script>
<script src="~/lib/paste.js"></script>
    <script type="text/javascript">
        $("#message").pastableTextarea();//文本框
        //粘贴图片事件
        $('#LiveChat').on('pasteImage', function (ev, data) {
            
            console.log(ev);
            console.log(data);
            var formData = new FormData();
            var image = data.dataURL;
            formData.append('ImageString', image);
            $.ajax({
                url: '/SysManager/Home/Base64Upload',
                method: 'POST',
                data: formData ,
                contentType: false, // 注意这里应设为false
                processData: false,
                cache: false,
                success: function(data) {
                },
                error: function(jqXHR) {
                    console.log(JSON.stringify(jqXHR));
                }
            });
            $("#image_test").attr('src', data.dataURL);
        });
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('textarea[name="ArticleText"]',
                {
                    width: '690px',
                    height: '400px',
                    allowFileManager: true,
                    uploadJson: 'Home/UploadImages',
                    fileManagerJson: 'Home/ProcessRequest'
                });
        });
        //var uri = "ws://" + location.host + "/LiveChat?Name=luckearth";
        //var socket = new WebSocket(uri);

        //socket.onopen = function(data) {
        //    console.log(data);
        //};
        //socket.onmessage = function (result) {
        //    console.log(result.data);
        //    var ul = $("#LiveChat ul");
        //    ul.append('<li>'+result.data+'</li>');
        //}
        //$("#send_message").click(function () {
        //    var mes = $("#message").val();
        //    //发送信息
        //    socket.send(JSON.stringify({
        //        Receiver: '123',
        //        Message:mes
        //    }));
        //});
        var websocket = new ReconnectingWebSocket("ws://" + location.host + "/LiveChat?Name=luckearth" + Math.random());

        //连接发生错误的回调方法
        websocket.onerror = function () {
            console.log("websocket.error");
        };
        websocket.onopen = function (event) {
            console.log("onopen");
        }
        //接收信息
        websocket.onmessage = function(result) {
            console.log(result.data);
            var ul = $("#LiveChat ul");
            ul.append('<li>' + result.data + '</li>');
           // layer.alert('见到你真的很高兴', { icon: 6 });
        }
        
        //连接关闭的回调方法
        websocket.onclose = function () {
            websocket.close();
            console.log("websocket.onclose");
        }

        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function () {
            websocket.close();
        }
        $("#send_message").click(function() {
            var mes = $("#message").val();
            //发送信息
            websocket.send(JSON.stringify({
                Receiver: '123',
                Message: mes
            }));
            $("#message").val("");
        });
    </script>
}
